In [1]:
#import required libraries

import pandas as pd
import numpy as num
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import data

data = pd.read_csv('/Users/amand/ds240/data/BRFSS Mental Health.csv', index_col = 0)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 385 entries, 0 to 384
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   location_id        385 non-null    int64
 1   year               385 non-null    int64
 2   DECIDE_yes_value   385 non-null    float64
 3   DECIDE_yes_sample  385 non-null    int64
 4   DECIDE_no_value    385 non-null    float64
 5   DECIDE_no_sample   385 non-null    int64
 6   resp222_value      164 non-null    float64
 7   resp222_sample     164 non-null    float64
 8   resp223_value      164 non-null    float64
 9   resp223_sample     164 non-null    float64
 10  resp224_value      164 non-null    float64
 11  resp224_sample     164 non-null    float64
dtypes: float64(8), int64(4)
memory usage: 39.1 KB

In [4]:
data

,location_id,year,DECIDE_yes_value,DECIDE_yes_sample,DECIDE_no_value,DECIDE_no_sample,resp222_value,resp222_sample,resp223_value,resp223_sample,resp224_value,resp224_sample
0,1,2015,15.0,1174,85.0,6526,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2016,14.3,979,85.7,5812,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2017,15.8,998,84.2,5498,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2018,15.8,958,84.2,5423,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2019,16.7,1016,83.3,5763,58.0,4302.0,24.5,1580.0,17.5,1040.0
...,...,...,...,...,...,...,...,...,...,...,...,...
380,99,2017,10.7,53,89.4,53,NaN,NaN,NaN,NaN,NaN,NaN
381,99,2018,11.0,53,89.0,53,NaN,NaN,NaN,NaN,NaN,NaN
382,99,2019,11.7,52,88.3,52,61.4,52.0,24.9,52.0,13.8,52.0
383,99,2020,10.8,53,89.2,53,61.7,53.0,23.7,53.0,13.1,53.0
384,99,2021,12.2,53,87.8,53,59.1,53.0,25.9,53.0,14.6,53.0

In [5]:
data.rename(columns={
    'DECIDE_yes_value': 'Have serious difficulty concentrating, remembering, or making decisions',
    'DECIDE_no_value': 'Do not have serious difficulty concentrating, remembering, or making decisions',
    'resp222_value': 'Zero days of poor mental health',
    'resp223_value': '1-13 days of poor mental health',
    'resp224_value': '14 or more days of poor mentla health',
    'DECIDE_yes_sample': 'Number of YES responses',
    'DECIDE_no_sample': 'Number of NO responses',
    'resp222_sample': 'Zero days responses',
    'resp223_sample': '1-13 days responses',
    'resp224_sample': '14+ days responses'
}, inplace = True)

In [6]:
data.shape

(385, 12)

In [7]:
data.head(5)

,location_id,year,"Have serious difficulty concentrating, remembering, or making decisions",Number of YES responses,"Do not have serious difficulty concentrating, remembering, or making decisions",Number of NO responses,Zero days of poor mental health,Zero days responses,1-13 days of poor mental health,1-13 days responses,14 or more days of poor mentla health,14+ days responses
0,1,2015,15.0,1174,85.0,6526,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2016,14.3,979,85.7,5812,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2017,15.8,998,84.2,5498,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2018,15.8,958,84.2,5423,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2019,16.7,1016,83.3,5763,58.0,4302.0,24.5,1580.0,17.5,1040.0

In [8]:
#adding response columns
dec_y = data['Number of YES responses']

In [9]:
dec_n = data['Number of NO responses']

In [10]:
dec_resp = dec_y + dec_n

In [11]:
print(dec_resp)

0      7700
1      6791
2      6496
3      6381
4      6779
       ...
380     106
381     106
382     104
383     106
384     106
Length: 385, dtype: int64

In [12]:
days1 = data['Zero days responses']
days2 = data['1-13 days responses']
days3 = data['14+ days responses']

In [13]:
days_total = days1 + days2 + days3
print(days_total)

0         NaN
1         NaN
2         NaN
3         NaN
4      6922.0
        ...
380       NaN
381       NaN
382     156.0
383     159.0
384     159.0
Length: 385, dtype: float64

In [14]:
print(days_total)

0         NaN
1         NaN
2         NaN
3         NaN
4      6922.0
        ...
380       NaN
381       NaN
382     156.0
383     159.0
384     159.0
Length: 385, dtype: float64

In [15]:
data['dec_resp'] = dec_resp

In [16]:
data['days_total'] = days_total

In [17]:
data

,location_id,year,"Have serious difficulty concentrating, remembering, or making decisions",Number of YES responses,"Do not have serious difficulty concentrating, remembering, or making decisions",Number of NO responses,Zero days of poor mental health,Zero days responses,1-13 days of poor mental health,1-13 days responses,14 or more days of poor mentla health,14+ days responses,dec_resp,days_total
0,1,2015,15.0,1174,85.0,6526,NaN,NaN,NaN,NaN,NaN,NaN,7700,NaN
1,1,2016,14.3,979,85.7,5812,NaN,NaN,NaN,NaN,NaN,NaN,6791,NaN
2,1,2017,15.8,998,84.2,5498,NaN,NaN,NaN,NaN,NaN,NaN,6496,NaN
3,1,2018,15.8,958,84.2,5423,NaN,NaN,NaN,NaN,NaN,NaN,6381,NaN
4,1,2019,16.7,1016,83.3,5763,58.0,4302.0,24.5,1580.0,17.5,1040.0,6779,6922.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,99,2017,10.7,53,89.4,53,NaN,NaN,NaN,NaN,NaN,NaN,106,NaN
381,99,2018,11.0,53,89.0,53,NaN,NaN,NaN,NaN,NaN,NaN,106,NaN
382,99,2019,11.7,52,88.3,52,61.4,52.0,24.9,52.0,13.8,52.0,104,156.0
383,99,2020,10.8,53,89.2,53,61.7,53.0,23.7,53.0,13.1,53.0,106,159.0
384,99,2021,12.2,53,87.8,53,59.1,53.0,25.9,53.0,14.6,53.0,106,159.0

In [18]:
type(data)

pandas.core.frame.DataFrame

In [19]:
data

,location_id,year,"Have serious difficulty concentrating, remembering, or making decisions",Number of YES responses,"Do not have serious difficulty concentrating, remembering, or making decisions",Number of NO responses,Zero days of poor mental health,Zero days responses,1-13 days of poor mental health,1-13 days responses,14 or more days of poor mentla health,14+ days responses,dec_resp,days_total
0,1,2015,15.0,1174,85.0,6526,NaN,NaN,NaN,NaN,NaN,NaN,7700,NaN
1,1,2016,14.3,979,85.7,5812,NaN,NaN,NaN,NaN,NaN,NaN,6791,NaN
2,1,2017,15.8,998,84.2,5498,NaN,NaN,NaN,NaN,NaN,NaN,6496,NaN
3,1,2018,15.8,958,84.2,5423,NaN,NaN,NaN,NaN,NaN,NaN,6381,NaN
4,1,2019,16.7,1016,83.3,5763,58.0,4302.0,24.5,1580.0,17.5,1040.0,6779,6922.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,99,2017,10.7,53,89.4,53,NaN,NaN,NaN,NaN,NaN,NaN,106,NaN
381,99,2018,11.0,53,89.0,53,NaN,NaN,NaN,NaN,NaN,NaN,106,NaN
382,99,2019,11.7,52,88.3,52,61.4,52.0,24.9,52.0,13.8,52.0,104,156.0
383,99,2020,10.8,53,89.2,53,61.7,53.0,23.7,53.0,13.1,53.0,106,159.0
384,99,2021,12.2,53,87.8,53,59.1,53.0,25.9,53.0,14.6,53.0,106,159.0

In [20]:
location_df = pd.read_csv('/Users/amand/ds240/data/BRFSS location_id KEY.csv', index_col = 0)

In [21]:
location_df

                                      location
id
1                                      Alabama
2                                       Alaska
4                                      Arizona
5                                     Arkansas
6                                   California
8                                     Colorado
9                                  Connecticut
10                                    Delaware
11                        District of Columbia
12                                     Florida
13                                     Georgia
15                                      Hawaii
16                                       Idaho
17                                    Illinois
18                                     Indiana
19                                        Iowa
20                                      Kansas
21                                    Kentucky
22                                   Louisiana
23                                       Maine
24                                    Maryland
25                               Massachusetts
26                                    Michigan
27                                   Minnesota
28                                 Mississippi
29                                    Missouri
30                                     Montana
31                                    Nebraska
32                                      Nevada
33                               New Hampshire
34                                  New Jersey
35                                  New Mexico
36                                    New York
37                              North Carolina
38                                North Dakota
39                                        Ohio
40                                    Oklahoma
41                                      Oregon
42                                Pennsylvania
44                                Rhode Island
45                              South Carolina
46                                South Dakota
47                                   Tennessee
48                                       Texas
49                                        Utah
50                                     Vermont
51                                    Virginia
53                                  Washington
54                               West Virginia
55                                   Wisconsin
56                                     Wyoming
66                                        Guam
72                                 Puerto Rico
78                              Virgin Islands
98               All States and DC (median) **
99  All States, DC and Territories (median) **

In [22]:
data[['location_id']] = data[['location_id']].replace([1,2,4,5,6,8,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56,66,72,78,98,99],location_df['location'])

In [23]:
data

,location_id,year,"Have serious difficulty concentrating, remembering, or making decisions",Number of YES responses,"Do not have serious difficulty concentrating, remembering, or making decisions",Number of NO responses,Zero days of poor mental health,Zero days responses,1-13 days of poor mental health,1-13 days responses,14 or more days of poor mentla health,14+ days responses,dec_resp,days_total
0,Alabama,2015,15.0,1174,85.0,6526,NaN,NaN,NaN,NaN,NaN,NaN,7700,NaN
1,Alabama,2016,14.3,979,85.7,5812,NaN,NaN,NaN,NaN,NaN,NaN,6791,NaN
2,Alabama,2017,15.8,998,84.2,5498,NaN,NaN,NaN,NaN,NaN,NaN,6496,NaN
3,Alabama,2018,15.8,958,84.2,5423,NaN,NaN,NaN,NaN,NaN,NaN,6381,NaN
4,Alabama,2019,16.7,1016,83.3,5763,58.0,4302.0,24.5,1580.0,17.5,1040.0,6779,6922.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,"All States, DC and Territories (median) **",2017,10.7,53,89.4,53,NaN,NaN,NaN,NaN,NaN,NaN,106,NaN
381,"All States, DC and Territories (median) **",2018,11.0,53,89.0,53,NaN,NaN,NaN,NaN,NaN,NaN,106,NaN
382,"All States, DC and Territories (median) **",2019,11.7,52,88.3,52,61.4,52.0,24.9,52.0,13.8,52.0,104,156.0
383,"All States, DC and Territories (median) **",2020,10.8,53,89.2,53,61.7,53.0,23.7,53.0,13.1,53.0,106,159.0
384,"All States, DC and Territories (median) **",2021,12.2,53,87.8,53,59.1,53.0,25.9,53.0,14.6,53.0,106,159.0

In [24]:
data.dropna()

,location_id,year,"Have serious difficulty concentrating, remembering, or making decisions",Number of YES responses,"Do not have serious difficulty concentrating, remembering, or making decisions",Number of NO responses,Zero days of poor mental health,Zero days responses,1-13 days of poor mental health,1-13 days responses,14 or more days of poor mentla health,14+ days responses,dec_resp,days_total
4,Alabama,2019,16.7,1016,83.3,5763,58.0,4302.0,24.5,1580.0,17.5,1040.0,6779,6922.0
5,Alabama,2020,14.0,687,86.0,4465,60.8,3319.0,23.4,1177.0,15.8,757.0,5152,5253.0
6,Alabama,2021,15.1,570,84.9,3853,56.7,2748.0,24.9,1061.0,18.4,705.0,4423,4514.0
11,Delaware,2019,10.5,393,89.5,3352,61.3,2452.0,25.3,865.0,13.5,474.0,3745,3791.0
12,Delaware,2020,9.8,363,90.2,3435,65.2,2648.0,22.5,829.0,12.3,482.0,3798,3959.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,All States and DC (median) **,2020,10.8,51,89.2,51,61.7,51.0,23.8,51.0,13.2,51.0,102,153.0
377,All States and DC (median) **,2021,12.1,50,87.9,50,59.1,50.0,26.0,50.0,14.6,50.0,100,150.0
382,"All States, DC and Territories (median) **",2019,11.7,52,88.3,52,61.4,52.0,24.9,52.0,13.8,52.0,104,156.0
383,"All States, DC and Territories (median) **",2020,10.8,53,89.2,53,61.7,53.0,23.7,53.0,13.1,53.0,106,159.0
384,"All States, DC and Territories (median) **",2021,12.2,53,87.8,53,59.1,53.0,25.9,53.0,14.6,53.0,106,159.0

In [25]:
attention_sub_df = data[['location_id','year','Number of YES responses','Number of NO responses']]

In [26]:
mood_sub_df = data[['location_id','year','Zero days responses','1-13 days responses','14+ days responses']]

In [28]:
sns.heatmap(attention_sub_df.corr(),linewidth=0.5, annot=True)

In [29]:
sns.pairplot(attention_sub_df, x_vars = ['Number of NO responses'], y_vars = ['year'], height=7, aspect=0.7)